<h1><%= I18n.t ('edit_task_page')%></h1>
<p><%= I18n.t ('edit_task_description')%></p>

<%= @current_task.errors.full_messages.to_sentence %>

<%= form_for @current_task, url: {controller: "tasks", action: "update"} do |form| %>
  <%= form.text_field :name, :value => @current_task.name %>
  <%= form.text_area :description, :value => @current_task.description, size: "24x6" %>
  <%= form.submit (I18n.t ('save')) %>
<% end %>
