<h1><%= I18n.t ('show_task_page')%></h1>
<p><%= I18n.t ('show_task_description')%></p>
<%= @current_task.name %>
<br>
<%= @current_task.description %>
<p>
<%= link_to (I18n.t ('edit')), edit_task_path(@current_task) %>
<p>
<%= link_to (I18n.t ('home')), root_path %>.